*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Menlo, Consolas, monospace;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    background: #111;
    color: #f9f9f9;
}

.button {
    background: #398ce4;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 2em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

*:has(.app) {
    height: 100%;
}

.app {
    --pad-around: 1rem;
    height: 100%;
    padding: var(--pad-around);
    display: grid;
    gap: 1rem;
    grid-template-areas:
                    "image-strip current-image operations"
                    "image-strip controls operations";
    grid-template-columns: 100px 1fr 300px;
    grid-template-rows: 1fr 0;
}

.app.is-fullscreen {
    --pad-around: 0rem;
}

.image-strip {
    grid-area: image-strip;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 0.5rem;
}

.image-strip img {
    display: block;
}

.current-image {
    grid-area: current-image;
    line-height: 0;
}

*:has(.current-image img) {
    height: 100%;
}

.current-image img {
    max-width: 100%;
    object-fit: contain;
    display: block;
}

.current-image.is-portrait img {
    height: calc(100vh - 2 * var(--pad-around));
    width: auto;
}

.current-image.is-landscape img {
    width: 100%;
    height: auto;
}

.current-image {
    position: relative;
}

.current-image-meta {
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
    pointer-events: none;
    user-select: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.current-image-meta p {
    margin: 0;
}

.current-image-meta p + p {
    margin-top: 1em;
}

.current-image:hover .current-image-meta {
    display: none;
}

.controls {
    grid-area: controls;
    font-size: 0.7rem;
}

.operations {
    grid-area: operations;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}

.image-strip img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none !important;
}

.aspect-ratios {
    display: flex;
    gap: 0.5rem;
}

.operation img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.operation {
    position: relative;
}

.operation-actions {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    display: flex;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.holding-alt .operation:hover .operation-actions {
    opacity: 1;
    visibility: visible;
}

.aspect-ratio-button.is-active {
    background: #2a6bb8;
}

.input {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em;
    border: 1px solid #ccc;
    color: inherit;
    background-color: transparent;
}

.input:focus {
    outline: none;
    border-color: #398ce4;
}

.busy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 10;
    user-select: none;
    pointer-events: none;
}

.spinner {
    width: 10rem;
    height: 10rem;
    border: 1rem solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    backdrop-filter: invert(1);
    border: none !important;
}
